.header {
  background: linear-gradient(to right, #672280, #7a418f 50%, #aa6cc1 100%);
}

.header div {
  align-items: center;
  display: flex;
  margin: 0 auto 0 15px;
}

.header img {
  height: 50px;
  width: 50px;
}

h1 {
  color: #fff;
  margin-left: 10px;
}

main {
  margin-top: 100px;
}
.form input[type="text"] {
  border-radius: 5px;
  color: #0D0D0D;
  height: 40px;
  width: 330px;
  border: 1px solid #d5d4d8;
}

.form {
  max-width: 750px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  justify-items: center;
}

button{
  cursor: pointer;
  padding: 10px;
  background: linear-gradient(to right,#711F8D 0%, #A818DA 50%);
  width: 330px;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  margin-top: 30px;
  grid-column: 1/3;
}

.meme-image {
  display: flex;
  margin: 40px auto 0;
  max-width: 800px;
  max-height: 800px;
}

.meme-section {
  position: relative;
}

.top-header-text {
  position: absolute;
  top: 0;
}

.bottom-header-text {
  position: absolute;
  bottom: 50px;
}
h2 {
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: 20px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
}